[submodule "src/libs/MonoGame/ThirdParty/Kickstart"]
	path = src/libs/MonoGame/ThirdParty/Kickstart
	url = https://github.com/OutOfOrder/MonoKickstart.git
[submodule "src/libs/MonoGame/ThirdParty/Dependencies"]
	path = src/libs/MonoGame/ThirdParty/Dependencies
	url = https://github.com/Mono-Game/MonoGame.Dependencies.git
[submodule "src/libs/MonoGame/ThirdParty/NVorbis"]
	path = src/libs/MonoGame/ThirdParty/NVorbis
	url = https://github.com/ioctlLR/NVorbis.git
